# Python Data Structure:

Four prime collection data types in python:
- Lists
- Dictionaries
- Tuples
- Sets

### List:
- List is a collection which is ordered and mutable/changeable. Allows duplicate members

In [26]:
#checking datatype:
type([])

list

In [27]:
#list declaration and assigning value:
my_list = ['one','two','three','four','five']
print('my list is: {}'.format(my_list))
print('checking datatype: {}'.format(type(my_list)))

my list is: ['one', 'two', 'three', 'four', 'five']
checking datatype: <class 'list'>

In [28]:
#assigning one list to another: 
list1 = list()
type(list1)

list

In [29]:
#checking number of elements present:
len(my_list)

5

### List Indexing:

In [30]:
list1 = ['d','nepoleon',180,180.0,True]
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

d
nepoleon
180
180.0
True

### Negative Indexing:

In [31]:
print(list1[-1])

True

### List Slicing:

In [32]:
print(list1[:])
print(list1[:2])
print(list1[2:])

print(list1[:-1])

['d', 'nepoleon', 180, 180.0, True]
['d', 'nepoleon']
[180, 180.0, True]
['d', 'nepoleon', 180, 180.0]

### Mutating:

In [33]:
print('Before Mutating:\n',list1)
print('-------------------------')
list1[-1] = False
print('after Mutating:\n',list1)

Before Mutating:
 ['d', 'nepoleon', 180, 180.0, True]
-------------------------
after Mutating:
 ['d', 'nepoleon', 180, 180.0, False]

### Loop through List:

In [34]:
for x in list1:
    print(x)

d
nepoleon
180
180.0
False

### Check Item Exists:

In [35]:
if 'nepoleon' in list1:
    print('element present in list')

element present in list

### Adding Items:

#### Append()
- append adds new elements to the end of the data structure
- appends work good for single item assignment, but if multiple elements are added then creates a nested list

In [36]:
list_apd = [1,2,3,4]
list_apd.append('nepolean')
list_apd

[1, 2, 3, 4, 'nepolean']

In [37]:
list_apd.append([0,1,8])
list_apd

[1, 2, 3, 4, 'nepolean', [0, 1, 8]]

#### Insert()
- insert element into a specific position

In [38]:
list_inst = [0,1,8,]
list_inst.insert(3,'nepolean')

list_inst

[0, 1, 8, 'nepolean']

#### Extend()
- it seggregates the the string into individuals alphabets
- it adds list elements and donot create any nested list
- since string is itself a list, don't requires any square bracket

In [39]:
list_ext = [1,0]
list_ext.extend([8,'nepoleon','das'])

list_ext

[1, 0, 8, 'nepoleon', 'das']

### Remove Item:

In [40]:
list2 = [9,23,3,14,5]
list2

[9, 23, 3, 14, 5]

In [41]:
list2.remove(3)

In [42]:
list2

[9, 23, 14, 5]

In [43]:
list2.pop(2)
list2

[9, 23, 5]

### Copy a List:

In [44]:
list3 = list1.copy()
list3

['d', 'nepoleon', 180, 180.0, False]

### Join Two Lists:

In [45]:
list_1 = [1,2,3,4,'nepolean']
list_2 = [5,6,7,8,'das']
list_3 = list_1+list_2
list_3

[1, 2, 3, 4, 'nepolean', 5, 6, 7, 8, 'das']

In [46]:
for x in list_2:
    list_1.append(x)
print(list_1)

[1, 2, 3, 4, 'nepolean', 5, 6, 7, 8, 'das']

In [47]:
list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 'nepolean', 5, 6, 7, 8, 'das', 5, 6, 7, 8, 'das']

### List Methods

In [59]:
#extend()- adding multiple elements
list_4 = []
list_4.extend([1,2,3,4,5,6])
print('list_4: {}'.format(list_4))
print('--------------------------------------------------')

#clear()- remove all element from the list
list_4.clear()
print('list_4 is cleared')
print('--------------------------------------------------')

#copy()- return a copy of the list
new_list = [34, 56, 12, 78, 102]
list_4 = new_list.copy()
print('new list_4 is: {}'.format(list_4))
print('--------------------------------------------------')

#count()- 
print('no. of occurance: {}'.format(list_4.count(8)))
print('--------------------------------------------------')

#index()
print('element {} is present at {} position'.format(12,list_4.index(12)))
print('--------------------------------------------------')

#sort()
list_4.sort()
print('list_4 in sorted order: {}'.format(list_4))
print('--------------------------------------------------')

#reverse()
list_4.reverse()
print('list_4 in reverse order: {}'.format(list_4))
print('--------------------------------------------------')

list_4: [1, 2, 3, 4, 5, 6]
--------------------------------------------------
list_4 is cleared
--------------------------------------------------
new list_4 is: [34, 56, 12, 78, 102]
--------------------------------------------------
no. of occurance: 0
--------------------------------------------------
element 12 is present at 2 position
--------------------------------------------------
list_4 in sorted order: [12, 34, 56, 78, 102]
--------------------------------------------------
list_4 in reverse order: [102, 78, 56, 34, 12]
--------------------------------------------------